@using FrontendAccountCreation.Web.ViewModels.AccountCreation
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK
@using FrontendAccountCreation.Web.Extensions
@using FrontendAccountCreation.Web.Constants

@model BusinessAddressPostcodeViewModel

@{
    ViewData["Title"] = Localizer["BusinessAddressPostcode.Title"];
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
    var scriptNonce = (string?)Context.Items[ContextKeys.ScriptNonceKey];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" id="lookupForm-wrapper">
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)

                <form asp-controller="AccountCreation" asp-action="BusinessAddressPostcode" method="post" id="lookupForm">
                    <div class="govuk-form-group">
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                            @Localizer["BusinessAddressPostcode.Question"]
                        </h1>

                        <p class="govuk-body">@Localizer["BusinessAddressPostcode.Hint"]</p>

                        <div class="govuk-body@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
                            <label class="govuk-label govuk-!-font-weight-bold" for="@nameof(Model.Postcode)">
                                @Localizer["BusinessAddressPostcode.InputLabel"]
                            </label>

                            @await Html.PartialAsync("Partials/Govuk/_ErrorList", errorsViewModel)

                            <div class="govuk-form-group">
                                <input class="govuk-input govuk-input--width-10 @Html.Raw(ViewData.ModelState.Count > 0 ? "govuk-input--error" : "")"
                                       type="text"
                                       gov-for="Postcode"
                                       maxlength="15"
                                       gov-value="@Model.Postcode">
                            </div>
                        </div>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        @Localizer["BusinessAddressPostcode.ContinueLabel"]
                    </button>
                </form>
            </div>
        </div>
        @await Html.PartialAsync("Partials/_Spinner", "/create-account/business-address-postcode")
    </main>
</div>

@section Scripts
{
    <script src="~/js/spinner.js"></script>
    <script nonce="@scriptNonce">
        document.addEventListener("DOMContentLoaded", InitSpinner("lookupForm-wrapper", "lookupForm"));
    </script>
}