@using FrontendAccountCreation.Web.Constants
@{
    ViewData["Title"] = Localizer["Declaration.Title"];
    
    var currentPage = Url.Action(PagePath.Declaration, "AccountCreation");
    var scriptNonce = (string?)Context.Items[ContextKeys.ScriptNonceKey];
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row" id="declarationform-wrapper">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                    @Localizer["Declaration.Title"]
                </h1>
                @if (ViewBag.IsAdminUser)
                {
                   <p class="govuk-body">@Localizer["Declaration.Paragraph1.ApprovedUser"]</p>
                   <ul>
                    <li><p class="govuk-body">@Localizer["Declaration.Paragraph2.ApprovedUser"] @ViewBag.OrganisationName</p></li> 
                    <li><p class="govuk-body">@Localizer["Declaration.Paragraph3.ApprovedUser"]</p></li> 
                    <li><p class="govuk-body">@Localizer["Declaration.Paragraph4.ApprovedUser"]</p></li> 
                   </ul>
                }
                else
                {
                    <p class="govuk-body">@Localizer["Declaration.Paragraph1"]</p>

                    <p class="govuk-body">@Localizer["Declaration.Paragraph2"]</p>
                }

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden"> @Localizer["Declaration.ScreenReaderHelpText"]</span>
                        @Localizer["Declaration.Warning"]
                    </strong>
                </div>

                <form asp-controller="AccountCreation" asp-action="Confirm" method="post" id="declarationform">
                    <button class="govuk-button" data-module="govuk-button">
                        @Localizer["Declaration.ButtonText"]
                    </button>
                </form>
            </div>
        </div>
        @await Html.PartialAsync("Partials/_Spinner", currentPage)
    </main>
</div>


@section Scripts
{
    <script src="~/js/loadingspinner.js"></script>
    <script nonce="@scriptNonce">
        document.addEventListener("DOMContentLoaded", InitSpinner("declarationform-wrapper", "declarationform"));
    </script>
}
