@using FrontendAccountCreation.Web.ViewModels.AccountCreation;
@using FrontendAccountCreation.Core.Sessions;
@using FrontendAccountCreation.Web.Extensions
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK;

@model TeamMemberRoleInOrganisationViewModel;

@{
    ViewData["Title"] = Localizer["TeamMemberRoleInOrganisation.Title"];
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)

                <form asp-controller="AccountCreation" method="post">
                    <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : string.Empty)">
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                            @Localizer["TeamMemberRoleInOrganisation.Question"]
                        </h1>

                        <p class="govuk-body">@Localizer["TeamMemberRoleInOrganisation.QuestionDescription"]</p>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <!-- director -->
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" id="rdoDirector"
                                       gov-for="RoleInOrganisation"
                                       gov-value="@nameof(RoleInOrganisation.Director)"
                                       gov-first-option="true">
                                <label class="govuk-label govuk-radios__label"
                                       gov-for="RoleInOrganisation"
                                       gov-value="@nameof(RoleInOrganisation.Director)"
                                       gov-first-option="true">
                                    @Localizer["TeamMemberRoleInOrganisation.Director"]
                                </label>
                            </div>
                            <!-- company secretary -->
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" type="radio" id="rdoCompanySecretary"
                                       gov-for="RoleInOrganisation"
                                       gov-value="@nameof(RoleInOrganisation.CompanySecretary)">
                                <label class="govuk-label govuk-radios__label"
                                       gov-for="RoleInOrganisation"
                                       gov-value="@nameof(RoleInOrganisation.CompanySecretary)">
                                    @Localizer["TeamMemberRoleInOrganisation.CompanySecretary"]
                                </label>
                            </div>


                        </div>

                    </div>

                    <button class="govuk-button" type="submit" asp-action="TeamMemberRoleInOrganisation" asp-controller="AccountCreation" name="invite" value="with-invite" data-module="govuk-button">
                        @Localizer["TeamMemberRoleInOrganisation.ContinueButton"]
                    </button>
                    <br />

                    <button class="govuk-button govuk-button--secondary" type="submit" asp-action="TeamMemberRoleInOrganisation" asp-controller="AccountCreation" name="invite" value="without-invite" data-module="govuk-button">
                        @Localizer["TeamMemberRoleInOrganisation.ContinueLink"]
                    </button>

                </form>
            </div>
        </div>
    </main>
</div>