@using FrontendAccountCreation.Web.Constants
@model FrontendAccountCreation.Web.ViewModels.ReExAccount.LimitedPartnershipPersonCanNotBeInvitedViewModel

@{
    ViewData["Title"] = Localizer["ApprovedPersonCanNotBeInvited.Title"];
    ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
    ViewData["HeaderOverride"] = LayoutOverrides.ReExOrganisationHeaderOverride;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                ﻿<h1 class="govuk-heading-l">
                    @Localizer["ApprovedPersonCanNotBeInvited.Heading"]
                </h1>

                <p class="govuk-body">
                    @Localizer["ApprovedPersonCanNotBeInvited.Explanation"]
                </p>

                <p class="govuk-body">
                    @Localizer["ApprovedPersonCanNotBeInvited.YouDoNotHaveToInvite"]
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>@Localizer["ApprovedPersonCanNotBeInvited.ApplyForAccreditation"]</li>
                    <li>@Localizer["ApprovedPersonCanNotBeInvited.SubmitAndVerify"]</li>
                </ul>
                <form asp-controller="Unincorporated" asp-action="ApprovedPersonCannotBeInvited" method="post">
                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button" name="inviteEligiblePerson" value="false">
                            @SharedLocalizer["Continue"]
                        </button>
                    </div>
                    <div class="govuk-button-group">
                        <button class="govuk-link button-as-link" name="inviteEligiblePerson" value="true">
                            @Localizer["ApprovedPersonCanNotBeInvited.InviteEligiblePerson"]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>