@using FrontendAccountCreation.Core.Sessions.ReEx
@using FrontendAccountCreation.Web.Constants
@using FrontendAccountCreation.Web.Extensions
@using FrontendAccountCreation.Web.ViewModels.ReExAccount.Unincorporated
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK

@model ReExUnincorporatedCheckYourDetailsViewModel

@{
    ViewData["Title"] = Localizer["ReExCheckYourDetails.Title"];
    ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
    ViewData["HeaderOverride"] = LayoutOverrides.ReExOrganisationHeaderOverride;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form asp-controller="Unincorporated" asp-action="CheckYourDetails" method="post">
                    <div class="govuk-form-group">
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
                            @Localizer["ReExCheckYourDetails.Header"]
                        </h1>

                        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">@Model.TradingName</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["ReExCheckYourDetails.RegisteredCharity"]
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @SharedLocalizer["No"]
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="~/@PagePath.RegisteredAsCharity" class="govuk-link govuk-link--no-visited-state">
                                        @SharedLocalizer["Change"]
                                        <span class="govuk-visually-hidden"></span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["ReExCheckYourDetails.RegisteredWithCompaniesHouse"]
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @SharedLocalizer["No"]
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="~/@PagePath.RegisteredWithCompaniesHouse" class="govuk-link govuk-link--no-visited-state">
                                        @SharedLocalizer["Change"]
                                        <span class="govuk-visually-hidden"></span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["ReExCheckYourDetails.OrganisationType"]
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["ReExCheckYourDetails.UnincorporatedBody"]
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="~/@PagePath.TypeOfOrganisation" class="govuk-link govuk-link--no-visited-state">
                                        @SharedLocalizer["Change"]
                                        <span class="govuk-visually-hidden"></span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["ReExCheckYourDetails.TradingName"]
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Localizer[Model.TradingName].Value
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="~/@PagePath.TradingName" class="govuk-link govuk-link--no-visited-state">
                                        @SharedLocalizer["Change"]
                                        <span class="govuk-visually-hidden"></span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["ReExCheckYourDetails.Address"]
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @{
                                        RenderAddressParts(Model.BusinessAddress?.AddressFields);
                                    }
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="~/@(Model.BusinessAddress!.IsManualAddress ? PagePath.BusinessAddress : PagePath.SelectBusinessAddress)" class="govuk-link govuk-link--no-visited-state">
                                        @SharedLocalizer["Change"]
                                        <span class="govuk-visually-hidden"></span>
                                    </a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["ReExCheckYourDetails.UkNation"]
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Localizer[Model.UkNation].Value
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a href="~/@(Model.BusinessAddress!.IsManualAddress ? PagePath.BusinessAddress : PagePath.SelectBusinessAddress)" class="govuk-link govuk-link--no-visited-state">
                                        @SharedLocalizer["Change"]
                                        <span class="govuk-visually-hidden"></span>
                                    </a>
                                </dd>
                            </div>

                        </dl>

                        @if (Model.TeamMemberDetailsDictionary.Count > 0)
                        {
                            <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">@Localizer["ReExCheckYourDetails.InvitationList"]</h2>

                            <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                                @foreach (var invitee in Model.TeamMemberDetailsDictionary)
                                {
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            @Localizer["ReExCheckYourDetails.YourRole"]
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @Model.JobTitle
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a href="~/@PagePath.ManualInputRoleInOrganisation" class="govuk-link govuk-link--no-visited-state">
                                                @SharedLocalizer["Change"]
                                                <span class="govuk-visually-hidden"></span>
                                            </a>
                                        </dd>

                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            @Localizer["ReExCheckYourDetails.Invite"]
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @invitee.Value.FirstName
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            @* <a href="~/@PagePath.UnincorporatedTeamMemberDetails" class="govuk-link govuk-link--no-visited-state">
                                                @SharedLocalizer["Change"]
                                            </a> *@
                                            <button class="govuk-link button-as-link" name="inviteeId" value="@invitee.Value.Id">
                                                @SharedLocalizer["Change"]
                                            </button>
                                        </dd>
                                    </div>

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            <span class="govuk-visually-hidden"></span>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @invitee.Value.LastName
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <span class="govuk-visually-hidden"></span>
                                        </dd>
                                    </div>

                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            <span class="govuk-visually-hidden"></span>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @invitee.Value.Email
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <span class="govuk-visually-hidden"></span>
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">

                                            <span class="govuk-visually-hidden"></span>
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            @invitee.Value.TelephoneNumber
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <span class="govuk-visually-hidden"></span>

                                        </dd>
                                    </div>

                                }
                            </dl>
                        }
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        @SharedLocalizer["Continue"]
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>

@{
    void RenderAddressParts(string?[]? addressParts)
    {
        if (addressParts != null)
        {
            foreach (string? part in addressParts)
            {
                if (!string.IsNullOrEmpty(part))
                {
                    <span>@part<br /></span>
                }
            }
        }
    }
}