@using FrontendAccountCreation.Web.Constants
@using FrontendAccountCreation.Web.ViewModels.ReExAccount
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK
@using FrontendAccountCreation.Web.Extensions

@model ReExAccountFullNameViewModel

@{
    ViewData["Title"] = Localizer["FullName.Title"];
    ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
    ViewData["HeaderOverride"] = LayoutOverrides.ReExHeaderOverride;

    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer, 
        nameof(ReExAccountFullNameViewModel.FirstName), nameof(ReExAccountFullNameViewModel.LastName));

    const string errorClass = "govuk-input--error";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)

                <form asp-controller="User" asp-action="ReExAccountFullName" method="post">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                                    @Localizer["FullName.Question"]
                                </h1>
                            </legend>
                            <p class="govuk-body">@Localizer["FullName.Hint"]</p>
                            <div class="govuk-form-group govuk-!-margin-bottom-4@(errorsViewModel.HasErrorKey(nameof(ReExAccountFullNameViewModel.FirstName)) ? " govuk-form-group--error" : "")">
                                <label class="govuk-label" gov-for="FirstName">
                                    @Localizer["FullName.FirstName"]
                                </label>

                                @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(ReExAccountFullNameViewModel.FirstName)])

                                <input class="govuk-input govuk-!-width-one-half @Html.Raw(errorsViewModel.HasErrorKey(nameof(ReExAccountFullNameViewModel.FirstName)) ? errorClass : "")"
                                       type="text"
                                       gov-for="FirstName"
                                       gov-value="@Model.FirstName">
                            </div>

                            <div class="govuk-form-group govuk-!-margin-top-0@(errorsViewModel.HasErrorKey(nameof(ReExAccountFullNameViewModel.LastName)) ? " govuk-form-group--error" : "")">
                                <label class="govuk-label" gov-for="LastName">
                                    @Localizer["FullName.LastName"]
                                </label>

                                @await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(ReExAccountFullNameViewModel.LastName)])

                                <input class="govuk-input govuk-!-width-one-half @Html.Raw(errorsViewModel.HasErrorKey(nameof(ReExAccountFullNameViewModel.LastName)) ? errorClass : "")"
                                       type="text"
                                       gov-for="LastName"
                                       gov-value="@Model.LastName">
                            </div>
                        </fieldset>
                    </div>

                    <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                        @SharedLocalizer["Continue"]
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>