@using FrontendAccountCreation.Web.Constants
@using FrontendAccountCreation.Web.ViewModels.ReExAccount
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK
@using FrontendAccountCreation.Web.Extensions

@model ReExAccountTelephoneNumberViewModel

@{
    ViewData["Title"] = Localizer["TelephoneNumber.Title"];
    ViewData["ApplicationTitleOverride"] = LayoutOverrides.CreateAccountTitleOverride;
    ViewData["HeaderOverride"] = LayoutOverrides.CreateAccountHeaderOverride;

    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer, 
        nameof(ReExAccountTelephoneNumberViewModel.TelephoneNumber));
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)
                
                <form asp-controller="User" asp-action="ReExAccountTelephoneNumber" method="post">
                    <div class="govuk-form-group">
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                            @Localizer["TelephoneNumber.Question"]
                        </h1>

                        <p class="govuk-body">
                            @Localizer["TelephoneNumber.Hint"]
                        </p>

                        <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
                            <label class="govuk-label" gov-for="TelephoneNumber">
                                @Localizer["TelephoneNumber.TelephoneNumber"]
                            </label>
                            
                            <div class="govuk-hint" id="TelephoneNumber-hint">
                                @Localizer["TelephoneNumber.InternationalNumbers"]
                            </div>
                            
                            @await Html.PartialAsync("Partials/Govuk/_FormItemError",
                                     errorsViewModel[nameof(ReExAccountTelephoneNumberViewModel.TelephoneNumber)])
                            
                            <input class="govuk-input govuk-input--width-20 @Html.Raw(errorsViewModel.HasErrorKey(nameof(ReExAccountTelephoneNumberViewModel.TelephoneNumber))?"govuk-input--error":"")"
                                    type="text"
                                    maxlength="20"
                                    gov-for="TelephoneNumber"
                                    gov-value="@Model.TelephoneNumber"
                                    aria-describedby="TelephoneNumber-hint">
                        </div>
                            
                        <div class="govuk-inset-text">
                            <p class="govuk-body">
                                @Localizer["TelephoneNumber.NotificationInfo"]
                                <strong>@Model.EmailAddress</strong>
                            </p>
                        </div>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        @SharedLocalizer["Continue"]
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>