@using FrontendAccountCreation.Web.Constants
@using FrontendAccountCreation.Web.ViewModels.ReExAccount
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK
@using FrontendAccountCreation.Web.Extensions

@model IsTradingNameDifferentViewModel

@{
    ViewData["Title"] = Localizer["IsTradingNameDifferent.Title"];
    ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
    ViewData["HeaderOverride"] = LayoutOverrides.ReExOrganisationHeaderOverride;

    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);

    string questionResourceKey = Model.IsNonUk
        ? "IsTradingNameDifferent.NonUk.Question"
        : "IsTradingNameDifferent.Question";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)

                <form asp-controller="Organisation" asp-action="IsTradingNameDifferent" method="post">
                    @Html.HiddenFor(m => m.IsNonUk)

                    <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                                    @Localizer[questionResourceKey]
                                </h1>
                            </legend>

                            @await Html.PartialAsync("Partials/Govuk/_ErrorList", errorsViewModel)

                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="rdoYesIsTradingNameDifferent"
                                           type="radio"
                                           gov-for="IsTradingNameDifferent"
                                           gov-value="@nameof(YesNoAnswer.Yes)"
                                           gov-first-option="true">
                                    <label class="govuk-label govuk-radios__label"
                                           gov-for="IsTradingNameDifferent"
                                           gov-value="@nameof(YesNoAnswer.Yes)"
                                           gov-first-option="true">
                                        @SharedLocalizer["Yes"]
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="rdoNoIsTradingNameDifferent"
                                           type="radio"
                                           gov-for="IsTradingNameDifferent"
                                           gov-value="@nameof(YesNoAnswer.No)">
                                    <label class="govuk-label govuk-radios__label"
                                           gov-for="IsTradingNameDifferent"
                                           gov-value="@nameof(YesNoAnswer.No)">
                                        @SharedLocalizer["No"]
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        @SharedLocalizer["Continue"]
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
