@using FrontendAccountCreation.Web.Constants
@using FrontendAccountCreation.Web.Configs
@using Microsoft.Extensions.Options

@model FrontendAccountCreation.Web.ViewModels.ReExAccount.ReExOrganisationSuccessViewModel
@inject IOptions<ExternalUrlsOptions> ExternalUrlsOptions;

@{
	ViewData["Title"] = Localizer["Success.Title"];
	ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
	ViewData["HeaderOverride"] = LayoutOverrides.ReExUserHeaderOverride;
	var AddedOrganisationName = Model.CompanyName;
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

				<div class="govuk-notification-banner govuk-notification-banner--success"
					 role="alert"
					 aria-labelledby="govuk-notification-banner-title"
					 data-module="govuk-notification-banner">

					<div class="govuk-notification-banner__header">
						<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
							@Localizer["Success.SuccessEnrolOrganisation"]
						</h2>
					</div>
					<div class="govuk-notification-banner__content">
						<h3 class="govuk-notification-banner__heading">
							@Localizer["Success.AddedOrganisation"] @AddedOrganisationName
						</h3>
					</div>
				</div>

				@if (Model.ReExCompanyTeamMembers != null)
				{
					<h3 class="govuk-notification-banner__heading">
						@Localizer["Success.ApprovedPersonsInvite.Heading"]
					</h3>
					<p class="govuk-body govuk-!-margin-bottom-7">
						@Localizer["Success.ApprovedPersonsInvite.Paragraph"]
					</p>

					<dl class="govuk-summary-list govuk-!-margin-bottom-0">
						@for (int i = 0; i < Model.ReExCompanyTeamMembers?.Count; i++)
						{
							<div class="govuk-summary-list">
								@Model.ReExCompanyTeamMembers[i].Email
							</div>
						}
					</dl>
				}

				<h3 class="govuk-notification-banner__heading">
					@Localizer["Success.WhatYouMustDoNext.Heading"]
				</h3>
				@if (Model.IsSoleTrader)
				{
					<p class="govuk-body govuk-!-margin-bottom-7">
						@Localizer["Success.WhatYouMustDoNext.SoleTrader.Paragrah"]
					</p>
				}
				else
				{
					<p class="govuk-body govuk-!-margin-bottom-7">
						@Localizer["Success.WhatYouMustDoNext.Paragrah"]
					</p>
				}

				<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
					<li>@Localizer["Success.WhatYouMustDoNext.List.Item1"]</li>
					@if (Model.IsSoleTrader)
					{
						<li>@Localizer["Success.WhatYouMustDoNext.SoleTrader.List.Item2"]</li>
					}
					else
					{
						<li>@Localizer["Success.WhatYouMustDoNext.List.Item2"]</li>
					}
				</ul>

				<a class="govuk-link" href="@ExternalUrlsOptions.Value.PrnRedirectUrl">@Localizer["Success.Continue"]</a>
			</div>
		</div>
	</main>
</div>
