@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK
@using FrontendAccountCreation.Web.Extensions
@using FrontendAccountCreation.Core.Sessions

@model FrontendAccountCreation.Web.ViewModels.ReExAccount.TeamRoleViewModel

@{
    ViewData["Title"] = Localizer["TeamRole.Title"];
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)

                <form asp-controller="Organisation" asp-action="TeamRole" method="post">
                    <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                                    @Localizer["TeamRole.Question"]
                                </h1>
                            </legend>

                            <p class="govuk-body">@Localizer["TeamRole.Description"]</p>

                            @await Html.PartialAsync("Partials/Govuk/_ErrorList", errorsViewModel)

                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" type="radio" id="rdoDirector"
                                           gov-for="TeamRoleInOrganisation"
                                           gov-value="@nameof(TeamRoleInOrganisation.Director)"
                                           gov-first-option="true">
                                    <label class="govuk-label govuk-radios__label"
                                           gov-for="TeamRoleInOrganisation"
                                           gov-value="@nameof(TeamRoleInOrganisation.Director)"
                                           gov-first-option="true">
                                        @Localizer["TeamRole.Director"]
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" type="radio" id="rdoCompanySecretary"
                                           gov-for="TeamRoleInOrganisation"
                                           gov-value="@nameof(TeamRoleInOrganisation.CompanySecretary)">
                                    <label class="govuk-label govuk-radios__label"
                                           gov-for="TeamRoleInOrganisation"
                                           gov-value="@nameof(TeamRoleInOrganisation.CompanySecretary)">
                                        @Localizer["TeamRole.CompanySecretary"]
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    
                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button" name="invitation" value="true">
                            @Localizer["TeamRole.ContinueWithInvitation"]
                        </button>
                        
                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="invitation" value="false">
                            @Localizer["TeamRole.ContinueWithoutInvitation"]
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </main>
</div>
