@using FrontendAccountCreation.Web.Constants
@using FrontendAccountCreation.Web.ViewModels.AccountCreation
@using FrontendAccountCreation.Web.ViewModels.ReExAccount
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK
@using FrontendAccountCreation.Web.Extensions

@{
	ViewData["Title"] = Localizer["YouAreApprovedPerson.Title"];
	ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
	ViewData["HeaderOverride"] = LayoutOverrides.ReExOrganisationHeaderOverride;
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
							@Localizer["YouAreApprovedPerson.Header"]
						</h1>
					</legend>
				</fieldset>

				<p class="govuk-body">@Localizer["YouAreApprovedPerson.Description"].Value</p>

				<p class="govuk-body">@Localizer["YouAreApprovedPerson.YouCanNow"].Value</p>

				<ul class="govuk-list govuk-list--bullet">
					<li>
						@Localizer["YouAreApprovedPerson.Item1"]
					<li>
						@Localizer["YouAreApprovedPerson.Item2"]
					</li>
				</ul>

				<form asp-controller="Organisation" method="get">
					<div class="govuk-button-group">
						<button class="govuk-button" data-module="govuk-button" asp-action="ApprovedConfirmationContinue">
							@SharedLocalizer["Continue"]
						</button>

						<a asp-action="InviteOtherApprovedPerson" class="govuk-link">
							@Localizer["YouAreApprovedPerson.InviteLink"]
						</a>
					</div>
				</form>
			</div>
		</div>
	</main>
</div>
