@using FrontendAccountCreation.Core.Sessions
@using FrontendAccountCreation.Core.Sessions.ReEx
@using FrontendAccountCreation.Web.Controllers.ReprocessorExporter
@using FrontendAccountCreation.Web.ViewModels.ReExAccount
@using FrontendAccountCreation.Web.Constants

@model ReExCheckYourDetailsViewModel

@{
    ViewData["Title"] = Localizer["CheckYourDetails.Title"];
    ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
    ViewData["HeaderOverride"] = LayoutOverrides.ReExOrganisationHeaderOverride;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form asp-controller="ApprovedPerson" asp-action="CheckYourDetailsPost" method="post">
                    <div class="govuk-form-group">
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
                            @Localizer["CheckYourDetails.Header"]
                        </h1>

                        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">@Localizer["CheckYourDetails.YourOrganisation"]</h2>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["CheckYourDetails.RegisteredCharity"]
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Localizer["CheckYourDetails.No"]
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    @Localizer["CheckYourDetails.RegisteredWithCompaniesHouse"]
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @if (Model.IsCompaniesHouseFlow)
                                    {
                                        @SharedLocalizer["Yes"]
                                    }
                                    else
                                    {
                                        @Localizer["CheckYourDetails.No"]
                                    }
                                </dd>
                            </div>

                            @if (!Model.IsCompaniesHouseFlow)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.RegisteredInTheUK"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @if (Model.IsNonUk)
                                        {
                                            @SharedLocalizer["No"]
                                        }
                                        else
                                        {
                                            @SharedLocalizer["Yes"]
                                        }
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.IsUkMainAddress" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.RegisteredInTheUK"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.OrganisationName"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @(Model.CompanyName)
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.OrganisationName" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.OrganisationName"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>
                            }

                            @if (!Model.IsCompaniesHouseFlow)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.RegisteredInTheUK"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @if (Model.IsNonUk)
                                        {
                                            @SharedLocalizer["No"]
                                        }
                                        else
                                        {
                                            @SharedLocalizer["Yes"]
                                        }
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.IsUkMainAddress" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.RegisteredInTheUK"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.OrganisationName"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @(Model.CompanyName)
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.OrganisationName" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.OrganisationName"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>
                            }
                            else
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.CompaniesHouseNumber"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Localizer[Model.CompaniesHouseNumber].Value
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.OrganisationDetails"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @{
                                            RenderAddressParts(new[] { Model.CompanyName });
                                            RenderAddressParts(Model?.BusinessAddress?.AddressFields);
                                        }
                                    </dd>
                                    <dd class="govuk-summary-list__actions"></dd>
                                </div>
                            }

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.DifferentTradingName"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @(Model.IsTradingNameDifferent.Value ? "Yes" : "No")
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.IsTradingNameDifferent" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.DifferentTradingName"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>

                            }

                            @if (Model.IsTradingNameDifferent.Value)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.TradingName"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @(Model.TradingName)
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.TradingName" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.TradingName"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>
                            }
                            @if (Model.IsOrganisationAPartnership)
                            {
                                string partnershipType = Model.IsLimitedLiabilityPartnership ? "CheckYourDetails.LimitedLiabilityPartnership" : "CheckYourDetails.LimitedPartnership";
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.Partnership"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Localizer[partnershipType].Value
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.PartnershipType" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.Partnership"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>
                            }
                            @if (Model.IsManualInputFlow && !Model.IsNonUk)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.BusinessType"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Localizer[Model.TypeOfProducer].Value
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.TypeOfOrganisation" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.BusinessType"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>
                            }
                            @if (!Model.IsCompaniesHouseFlow)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.Address"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @{
                                            RenderAddressParts(Model?.BusinessAddress?.AddressFields);
                                        }
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        @if (Model.IsNonUk)
                                        {
                                            <a href="~/re-ex/organisation/@PagePath.AddressOverseas" class="govuk-link govuk-link--no-visited-state">
                                                @SharedLocalizer["Change"]
                                                <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.Address"].Value.ToLower()</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="~/re-ex/organisation/@PagePath.BusinessAddress" class="govuk-link govuk-link--no-visited-state">
                                                @SharedLocalizer["Change"]
                                                <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.Address"].Value.ToLower()</span>
                                            </a>
                                        }
                                    </dd>
                                </div>
                            }
                            @if (Model.IsNonUk)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.UkRegulator"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Localizer[Model.UkNation].Value
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.UkRegulator" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.UkRegulator"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>
                            }
                            @if (Model.IsOrganisationAPartnership)
                            {
                                string partnershipType = Model.IsLimitedLiabilityPartnership ? "CheckYourDetails.LimitedLiabilityPartnership" : "CheckYourDetails.LimitedPartnership";
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["CheckYourDetails.Partnership"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Localizer[partnershipType].Value
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a href="~/re-ex/organisation/@PagePath.PartnershipType" class="govuk-link govuk-link--no-visited-state">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden">@Localizer["CheckYourDetails.Partnership"].Value.ToLower()</span>
                                        </a>
                                    </dd>
                                </div>
                            }
                        </dl>

                        @if (Model.IsCompaniesHouseFlow)
                        {
                            RenderWrongAddressAmendPrompt("CheckYourDetails.WrongAddressAmend.LinkDescription");
                        }

                        @if (Model is { IsCompaniesHouseFlow: true, IsOrganisationAPartnership: true, IsLimitedLiabilityPartnership: false })
                        {
                            // pass data to Views\ApprovedPerson\Partials\_CheckYourDetailsPartnershipDetails.cshtml
                            ViewBag.TypeOfPartnerShip = "Limited";
                            @await Html.PartialAsync("~/Views/ApprovedPerson/Partials/_CheckYourDetailsPartnershipDetails.cshtml", Model.LimitedPartnershipPartners)
                        }
                        else if (Model is { IsManualInputFlow: true, IsOrganisationAPartnership: true })
                        {
                            // pass data to Views\ApprovedPerson\Partials\_CheckYourDetailsPartnershipDetails.cshtml
                            ViewBag.TypeOfPartnerShip = "NonCompaniesHouse";
                            @await Html.PartialAsync("~/Views/ApprovedPerson/Partials/_CheckYourDetailsPartnershipDetails.cshtml", Model.LimitedPartnershipPartners)
                        }

                        @if (Model.reExCompanyTeamMembers != null && Model.reExCompanyTeamMembers?.Count > 0)
                        {
                            <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">@Localizer["CheckYourDetails.TeamMembers.ApprovedPersonsAdded"]</h2>

                            <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                                @for (int i = 0; i < Model.reExCompanyTeamMembers?.Count; i++)
                                {
                                    <div class="govuk-summary-card__content">
                                        <dl class="govuk-summary-list">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    @Localizer["CheckYourDetails.TeamMembers.Role"]
                                                </dt>
                                                @if (Model.IsCompaniesHouseFlow)
                                                {
                                                    <dd class="govuk-summary-list__value">
                                                        @SharedLocalizer[Model.reExCompanyTeamMembers[i].Role.ToString()]
                                                    </dd>
                                                    <dd class="govuk-summary-list__actions">
                                                        @if (@Model.IsLimitedLiabilityPartnership)
                                                        {
                                                            <a class="govuk-link" href="@Url.Action("MemberPartnershipEdit", "ApprovedPerson", new { id = Model.reExCompanyTeamMembers[i].Id })">
                                                                @SharedLocalizer["Change"]
                                                                <span class="govuk-visually-hidden"> @Localizer["CheckYourDetails.TeamMembers.Role"].Value.ToLower()</span>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="govuk-link" href="@Url.Action("TeamMemberRoleInOrganisationEdit", "ApprovedPerson", new { id = Model.reExCompanyTeamMembers[i].Id })">
                                                                @SharedLocalizer["Change"]
                                                                <span class="govuk-visually-hidden"> @Localizer["CheckYourDetails.TeamMembers.Role"].Value.ToLower()</span>
                                                            </a>
                                                        }
                                                    </dd>
                                                }
                                                else
                                                {
                                                    @if (Model.IsUnincorporatedFlow)
                                                    {
                                                        <dd class="govuk-summary-list__value">
                                                            @Localizer["CheckYourDetails.ManageOrControlOrganisation"].Value
                                                        </dd>
                                                    }
                                                   
                                                    @if (Model.IsSoleTrader)
                                                    {
                                                        <dd class="govuk-summary-list__value">
                                                            @Localizer[Model.TypeOfProducer].Value
                                                        </dd>
                                                    }
                                                    else if (Model.IsNonUk)
                                                    {
                                                        <dd class="govuk-summary-list__value">
                                                            @Localizer["CheckYourDetails.NonUkRole"]
                                                        </dd>
                                                    }
                                                    else if (Model.IsManualInputFlow)
                                                    {
                                                        <dd class="govuk-summary-list__value">
                                                            @GetLocalizedRoleOfApprovedPerson(@Model.reExCompanyTeamMembers[i].Role)
                                                        </dd>
                                                    }
                                                
                                                    @if (Model.IsCompaniesHouseFlow && !Model.IsUnincorporatedFlow)
                                                    {
                                                        <dd class="govuk-summary-list__actions">
                                                            <a class="govuk-link" href="@Url.Action("TeamMemberRoleInOrganisationEdit", "ApprovedPerson", new { id = Model.reExCompanyTeamMembers[i].Id })">
                                                                @SharedLocalizer["Change"]
                                                                <span class="govuk-visually-hidden"> @Localizer["CheckYourDetails.TeamMembers.Role"].Value.ToLower()</span>
                                                            </a>
                                                        </dd>
                                                    }
                                                    else if (Model.IsManualInputFlow)
                                                    {
                                                        <dd class="govuk-summary-list__actions">
                                                            <a class="govuk-link" href="@Url.Action(nameof(ApprovedPersonController.NonCompaniesHousePartnershipTeamMemberRoleEdit), "ApprovedPerson", new { id = Model.reExCompanyTeamMembers[i].Id })">
                                                                @SharedLocalizer["Change"]
                                                                <span class="govuk-visually-hidden"> @Localizer["CheckYourDetails.TeamMembers.Role"].Value.ToLower()</span>
                                                            </a>
                                                        </dd>
                                                    }
                                                }
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    @Localizer["CheckYourDetails.TeamMembers.Invite"]
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    @Model.reExCompanyTeamMembers[i].FirstName<br />
                                                    @Model.reExCompanyTeamMembers[i].LastName<br />
                                                    @Model.reExCompanyTeamMembers[i].Email<br />
                                                    @Model.reExCompanyTeamMembers[i].TelephoneNumber
                                                </dd>
                                                @if (Model.IsCompaniesHouseFlow)
                                                {
                                                    <dd class="govuk-summary-list__actions">
                                                        <a class="govuk-link" href="@Url.Action("TeamMemberDetailsEdit", "ApprovedPerson", new { id = Model.reExCompanyTeamMembers[i].Id })">
                                                            @SharedLocalizer["Change"]
                                                            <span class="govuk-visually-hidden"> @Localizer["CheckYourDetails.TeamMembers.ContactDetails"]</span>
                                                        </a>
                                                    </dd>
                                                }
                                                else
                                                {
                                                    <dd class="govuk-summary-list__actions">
                                                    <a class="govuk-link" href="@Url.Action("NonCompaniesHouseTeamMemberDetailsEdit", "ApprovedPerson", new { id = Model.reExCompanyTeamMembers[i].Id })">
                                                            @SharedLocalizer["Change"]
                                                            <span class="govuk-visually-hidden"> @Localizer["CheckYourDetails.TeamMembers.ContactDetails"]</span>
                                                        </a>
                                                    </dd>
                                                }
                                            </div>

                                        </dl>
                                    </div>
                                }
                            </dl>
                        }
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        @SharedLocalizer["Continue"]
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>

@{
    void RenderAddressParts(string?[]? addressParts)
    {
        if (addressParts != null)
        {
            foreach (string? part in addressParts)
            {
                if (!string.IsNullOrEmpty(part))
                {
                    <span>@part<br /></span>
                }
            }
        }
    }

    void RenderWrongAddressAmendPrompt(string linkDescription)
    {
        <div class="govuk-form-group govuk-!-margin-top-4">
            <p class="govuk-body">
                @Localizer["CheckYourDetails.WrongAddressAmendPrompt"]
                <a href="@ViewBag.MakeChangesToYourLimitedCompanyLink" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">@Localizer[linkDescription]</a>.
            </p>
        </div>
    }

    string GetLocalizedRoleOfApprovedPerson(ReExTeamMemberRole? role)
    {
        return role switch
        {
            ReExTeamMemberRole.IndividualPartner => @Localizer["CheckYourDetails.IndividualPartner"].Value,
            ReExTeamMemberRole.PartnerDirector => @Localizer["CheckYourDetails.PartnerDirector"].Value,
            ReExTeamMemberRole.PartnerCompanySecretary => @Localizer["CheckYourDetails.PartnerCompanySecretary"].Value,
            ReExTeamMemberRole.None => @Localizer["CheckYourDetails.None"].Value,
            _ => @Localizer["CheckYourDetails.Missing"].Value
        };
    }
}