@using FrontendAccountCreation.Web.Constants
@using FrontendAccountCreation.Web.ViewModels.ReExAccount
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK
@using FrontendAccountCreation.Web.Extensions

@model IsMemberPartnershipViewModel

@{
    ViewData["Title"] = Localizer["MemberPartnership.Title"];
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)

                <form asp-controller="ApprovedPerson" asp-action="MemberPartnership" method="post">
                    <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                                    @Localizer["MemberPartnership.Question"]
                                </h1>
                                <p class="govuk-body">@Localizer["MemberPartnership.Description"]</p>
                            </legend>

                            @await Html.PartialAsync("Partials/Govuk/_ErrorList", errorsViewModel)

                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="rdoYesIsMemberPartnership"
                                           type="radio"
                                           gov-for="IsMemberPartnership"
                                           gov-value="@nameof(YesNoAnswer.Yes)"
                                           gov-first-option="true">
                                    <label class="govuk-label govuk-radios__label"
                                           gov-for="IsMemberPartnership"
                                           gov-value="@nameof(YesNoAnswer.Yes)"
                                           gov-first-option="true">
                                        @SharedLocalizer["Yes"]
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="rdoNoIsMemberPartnership"
                                           type="radio"
                                           gov-for="IsMemberPartnership"
                                           gov-value="@nameof(YesNoAnswer.No)">
                                    <label class="govuk-label govuk-radios__label"
                                           gov-for="IsMemberPartnership"
                                           gov-value="@nameof(YesNoAnswer.No)">
                                        @SharedLocalizer["No"]
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <button class="govuk-button" data-module="govuk-button">
                        @SharedLocalizer["Continue"]
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
