@using FrontendAccountCreation.Core.Sessions;
@using FrontendAccountCreation.Core.Sessions.ReEx
@using FrontendAccountCreation.Web.Constants
@using FrontendAccountCreation.Web.Controllers.AccountCreation
@using FrontendAccountCreation.Web.Controllers.ReprocessorExporter
@using FrontendAccountCreation.Web.Extensions
@using FrontendAccountCreation.Web.ViewModels.ReExAccount
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK;

@model NonCompaniesHouseTeamMemberCheckInvitationDetailsViewModel

@{
    ViewData["Title"] = Localizer["NonCompaniesHouseTeamMemberCheckInvitationDetails.Title"];
    ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
    ViewData["HeaderOverride"] = LayoutOverrides.ReExOrganisationHeaderOverride;
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
                    @Localizer["TeamMemberCheckInvitationDetails.Title"]
                </h1>

                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <p class="govuk-body">@Localizer["TeamMemberCheckInvitationDetails.Help"]</p>
                    </div>
                    @for (int i = 0; i < Model.TeamMembers?.Count; i++)
                    {
                        <div class="govuk-summary-card__content">
                            <dl class="govuk-summary-list">

                                <!-- Role of team member -->
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["TeamMemberCheckInvitationDetails.Role"]
                                    </dt>
                                    @if (Model.IsSoleTrader)
                                    {
                                        <dd class="govuk-summary-list__value">
                                            @Localizer["TeamMemberCheckInvitationDetails.SoleTrader"]
                                        </dd>
                                    }
                                    @if (Model.IsNonUk)
                                    {
                                        <dd class="govuk-summary-list__value">
                                            @Localizer["TeamMemberCheckInvitationDetails.NonUkRole"]
                                        </dd>
                                    }
                                </div>

                                <!-- Name, Email, Telephone -->
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        @Localizer["TeamMemberCheckInvitationDetails.FirstName"]<br />
                                        @Localizer["TeamMemberCheckInvitationDetails.LastName"]<br />
                                        @Localizer["TeamMemberCheckInvitationDetails.Email"]<br />
                                        @Localizer["TeamMemberCheckInvitationDetails.Telephone"]
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.TeamMembers[i].FirstName<br />
                                        @Model.TeamMembers[i].LastName<br />
                                        @Model.TeamMembers[i].Email<br />
                                        @Model.TeamMembers[i].TelephoneNumber
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="@Url.Action(nameof(ApprovedPersonController.NonCompaniesHouseTeamMemberDetails), "ApprovedPerson", new { id = Model.TeamMembers[i].Id })">
                                            @SharedLocalizer["Change"]
                                            <span class="govuk-visually-hidden"> @Localizer["TeamMembersCheckInvitationDetails.ContactDetails"]</span>
                                        </a>
                                    </dd>
                                </div>

                            </dl>
                        </div>
                        <form asp-controller="ApprovedPerson"
                              asp-action="NonCompaniesHouseTeamMemberCheckInvitationDetailsDelete"
                              method="post">
                            @Html.AntiForgeryToken()

                            <input type="hidden" name="id" value="@Model.TeamMembers[i].Id" />

                            <div class="govuk-button-group">
                                <button type="submit"
                                        class="govuk-button govuk-button--secondary"
                                        data-module="govuk-button">
                                    @SharedLocalizer["Remove"]
                                </button>
                            </div>
                        </form>
                    }
                    <form asp-controller="ApprovedPerson">
                        <div class="govuk-button-group">
                            <!-- goes to check your details -->
                            <button class="govuk-button" data-module="govuk-button" asp-action="NonCompaniesHouseTeamMemberCheckInvitationDetailsPost">
                                @SharedLocalizer["Continue"]
                            </button>
                            @if (Model.IsNonUk)
                            {
                             <button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-action="NonCompaniesHouseTeamMemberDetails" formmethod="get">
                                @Localizer["TeamMemberCheckInvitationDetails.InviteAnotherPerson"]
                             </button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>