@using FrontendAccountCreation.Web.Extensions
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model FrontendAccountCreation.Web.ViewModels.ReExAccount.TeamMemberViewModel

@{
    ViewData["Title"] = Localizer["TeamMemberDetails.Title"];
    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)

                <form method="post">
                    
                    <h1 class="govuk-heading-l">@Localizer["TeamMemberDetails.Header"]</h1>

                    @Html.HiddenFor(x => x.Id)
                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="FirstName">
                            @Localizer["TeamMemberDetails.FirstName"]
                        </label>
                        <input class="govuk-input" asp-for="FirstName" type="text" />
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="LastName">
                            @Localizer["TeamMemberDetails.LastName"]
                        </label>
                        <input class="govuk-input" asp-for="LastName" type="text" />
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="Email">
                            @Localizer["TeamMemberDetails.Email"]
                        </label>
                        <div class="govuk-hint">
                            @Localizer["TeamMemberDetails.HintEmail"]
                        </div>
                        <input class="govuk-input" asp-for="Email" type="email"/>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" asp-for="Telephone">
                            @Localizer["TeamMemberDetails.Telephone"]
                        </label>
                        <div class="govuk-hint">
                            @Localizer["TeamMemberDetails.HintTelephone"]
                        </div>
                        <input class="govuk-input" asp-for="Telephone" type="tel"/>
                    </div>
                    
                    @* todo: can we remove asp-action? *@
                    <button class="govuk-button" data-module="govuk-button" asp-action="TeamMemberDetails" type="submit">
                        @Localizer["TeamMemberDetails.Continue"]
                    </button>

                </form>
            </div>
        </div>
    </main>
</div>