@using FrontendAccountCreation.Web.Constants
@using FrontendAccountCreation.Web.Extensions
@using FrontendAccountCreation.Web.ViewModels.Shared.GovUK

@model FrontendAccountCreation.Web.ViewModels.ReExAccount.TeamMemberViewModel

@{
	ViewData["Title"] = Localizer["TeamMemberDetails.Title"];
	ViewData["ApplicationTitleOverride"] = LayoutOverrides.ReExTitleOverride;
	ViewData["HeaderOverride"] = LayoutOverrides.ReExUserHeaderOverride;
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer, nameof(Model.FirstName),
							  nameof(Model.LastName), nameof(Model.Email), nameof(Model.Telephone));

	var _firstName = Model.FirstName;
	var _lastName = Model.LastName;
	var _email = Model.Email;
	var _telephone = Model.Telephone;
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				@await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsViewModel)

				<form method="post" novalidate>
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
							<h1 class="govuk-heading-l govuk-!-margin-bottom-4">@Localizer["TeamMemberDetails.Header"]</h1>
						</legend>

						@Html.HiddenFor(x => x.Id)

						<div class="govuk-form-group@(errorsViewModel.HasErrorKey(nameof(_firstName)) ? " govuk-form-group--error" : "")">
							<label gov-for="FirstName" class="govuk-label">
								@Localizer["TeamMemberDetails.FirstName"]
							</label>
							@await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(_firstName)])
							<input class="govuk-input @(errorsViewModel.HasErrorKey(nameof(_firstName)) ? "govuk-input--error" : "")"
								   type="text"
								   gov-for="FirstName" 
								   gov-value="@_firstName">
						</div>

						<div class="govuk-form-group@(errorsViewModel.HasErrorKey(nameof(_lastName)) ? " govuk-form-group--error" : "")">
							<label gov-for="LastName" class="govuk-label">
								@Localizer["TeamMemberDetails.LastName"]
							</label>
							@await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(_lastName)])
							<input class="govuk-input @(errorsViewModel.HasErrorKey(nameof(_lastName)) ? "govuk-input--error" : "")"
								   type="text"
								   gov-for="LastName" 
								   gov-value="@_lastName">
						</div>

						<div class="govuk-form-group@(errorsViewModel.HasErrorKey(nameof(_email)) ? " govuk-form-group--error" : "")">
							<label gov-for="Email" class="govuk-label">
								@Localizer["TeamMemberDetails.Email"]
							</label>

							<div id="email-hint" class="govuk-hint">
								@Localizer["TeamMemberDetails.HintEmail"]
							</div>

							@await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(_email)])
							<input class="govuk-input @(errorsViewModel.HasErrorKey(nameof(_email)) ? "govuk-input--error" : "")"
								   type="email"
								   spellcheck="false"
								   autocomplete="email"
								   gov-for="Email" gov-value="@_email"
								   aria-describedby="email-hint">
						</div>

						<div class="govuk-form-group@(errorsViewModel.HasErrorKey(nameof(_telephone)) ? " govuk-form-group--error" : "")">
							<label gov-for="Telephone" class="govuk-label">
								@Localizer["TeamMemberDetails.Telephone"]
							</label>

							<div id="tel-hint" class="govuk-hint">
								@Localizer["TeamMemberDetails.HintTelephone"]
							</div>

							@await Html.PartialAsync("Partials/Govuk/_FormItemError", errorsViewModel[nameof(_telephone)])
							<input class="govuk-input govuk-!-width-one-half @(errorsViewModel.HasErrorKey(nameof(_telephone)) ? "govuk-input--error" : "")"
								   type="tel"
								   autocomplete="tel"
								   gov-for="Telephone"
								   gov-value="@_telephone"
								   aria-describedby="tel-hint">
						</div>

						<button class="govuk-button" data-module="govuk-button" asp-action="TeamMemberDetails" type="submit">@Localizer["TeamMemberDetails.Continue"]</button>
					</fieldset>
				</form>
			</div>
		</div>
	</main>
</div>