@using FrontendAccountCreation.Web.ViewModels.ReExAccount
@using FrontendAccountCreation.Core.Sessions;
@model AddApprovedPersonViewModel

@{
    var localizerPrefix = Model.IsSoleTrader
        ? "AddNotApprovedPerson.SoleTrader."
        : "AddNotApprovedPerson.";
}

<div class="govuk-form-group @(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : string.Empty)">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        @Localizer["AddNotApprovedPerson.Title"]
    </h1>

    <p class="govuk-body">
        @Localizer[$"{localizerPrefix}IntroText1"]
    </p>

    <p class="govuk-body">
        @(Model.IsUnincorporated
            ? Localizer["AddNotApprovedPerson.Unincorporated.IntroText2"]
            : Localizer[$"{localizerPrefix}IntroText2"])
    </p>


    <ul class="govuk-list govuk-list--bullet">
        <li>@Localizer["AddNotApprovedPerson.BulletAccreditation"]</li>
        <li>@Localizer["AddNotApprovedPerson.BulletSubmit"]</li>
    </ul>

    <div class="govuk-inset-text">
        @Localizer["AddNotApprovedPerson.InsetText"]
    </div>

    @if(!Model.IsSoleTrader){
        <p class="govuk-body">
            @if (Model.IsUnincorporated)
            {
                @Localizer["AddNotApprovedPerson.Unincorporated.IntroText3"]
            }
            else
            {
                @Localizer["AddNotApprovedPerson.IntroText3"]
            }
        </p>
    }

    <br />
    <h2 class="govuk-heading-m">
        @Localizer["AddNotApprovedPerson.RolesHeading"]
    </h2>
    
    @if (Model.IsNonUk)
    {
        <p class="govuk-body">
            @Localizer["AddNotApprovedPerson.NonUk.Roles.Instruction"]
        </p>

        <p class="govuk-body">
            @SharedLocalizer["ForExample"]
        </p>

        @if (!Model.IsSoleTrader)
        {
            <ul class="govuk-list govuk-list--bullet">
                <li>@SharedLocalizer["CEO"]</li>
                <li>@SharedLocalizer["Owner"]</li>
                <li>@SharedLocalizer["Partner"]</li>
                <li>@SharedLocalizer["CompanyDirectorOrSecretary"]</li>
                <li>@SharedLocalizer["UnincorporatedRoles"]</li>
            </ul>
        }
    }
    else
    {
        <p class="govuk-body">
            @(Model.IsUnincorporated
                ? Localizer["AddNotApprovedPerson.Unincorporated.RolesInstruction"]
                : Localizer[$"{localizerPrefix}RolesInstruction"])
        </p>


        @if (Model.IsUnincorporated)
        {
            <p class="govuk-body">
                @Localizer["AddNotApprovedPerson.ForExample"]
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>@Localizer["AddNotApprovedPerson.Chairperson"]</li>
                <li>@Localizer["AddNotApprovedPerson.Treasurer"]</li>
                <li>@Localizer["AddNotApprovedPerson.Secretary"]</li>
                <li>@Localizer["AddNotApprovedPerson.Manager"]</li>
                <li>@Localizer["AddNotApprovedPerson.Owner"]</li>
            </ul>
        }
        else if (!Model.IsSoleTrader)
        {
            <ul class="govuk-list govuk-list--bullet">
                <li>@Localizer["AddNotApprovedPerson.CompanyDirector"]</li>
                <li>@Localizer["AddNotApprovedPerson.CompanySecretary"]</li>
            </ul>
        }
    }

    <h2 class="govuk-heading-m">
        @Localizer["AddNotApprovedPerson.UserHeading"]
    </h2>

    <p class="govuk-body">
        @Localizer["AddNotApprovedPerson.SelectOptionText"]
    </p>

    <br />
    <fieldset class="govuk-fieldset">
        <legend class="govuk-visually-hidden">@Localizer["AddNotApprovedPerson.InviteOptionsLegend"]</legend>

        @await Html.PartialAsync("Partials/Govuk/_ErrorList", Model.ErrorsViewModel)

        <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                       type="radio"
                       gov-for="InviteUserOption"
                       gov-value="@nameof(InviteUserOptions.InviteAnotherPerson)"
                       gov-first-option="true">
                <label class="govuk-label govuk-radios__label"
                       gov-for="InviteUserOption"
                       gov-value="@nameof(InviteUserOptions.InviteAnotherPerson)"
                       gov-first-option="true">
                    @Localizer[$"{localizerPrefix}InviteAnotherApprovedPerson"]
                </label>
            </div>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                       type="radio"
                       gov-for="InviteUserOption"
                       gov-value="@nameof(InviteUserOptions.InviteLater)">
                <label class="govuk-label govuk-radios__label"
                       gov-for="InviteUserOption"
                       gov-value="@nameof(InviteUserOptions.InviteLater)">
                    @Localizer[$"{localizerPrefix}InviteApprovedPersonLater"]
                </label>
            </div>

        </div>
    </fieldset>
</div>