﻿<h1 class="govuk-heading-l">
    @Localizer["PersonCanNotBeInvited.Heading"]
</h1>

<p class="govuk-body">
    @Localizer["PersonCanNotBeInvited.Explanation"]
</p>

<p class="govuk-body">
    @Localizer["PersonCanNotBeInvited.YouDoNotHaveToInvite"]
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>@Localizer["PersonCanNotBeInvited.ApplyForAccreditation"]</li>
    <li>@Localizer["PersonCanNotBeInvited.SubmitAndVerify"]</li>
</ul>