@model IList<FrontendAccountCreation.Web.ViewModels.ReExAccount.ReExLimitedPartnershipPersonOrCompany>

<h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">
    @Localizer["CheckYourDetails.PartnersSectionTitle"]
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-6">
    @foreach (var partner in Model)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                @Localizer["CheckYourDetails.PartnersFirstName"]
            </dt>
            <dd class="govuk-summary-list__value">
                @partner.Name
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="@Url.Action("NamesOfPartners", "LimitedPartnership")">
                    @SharedLocalizer["Change"]
                </a>
            </dd>
        </div>
    }
</dl>