@using FrontendAccountCreation.Web.Controllers.ReprocessorExporter
@model IList<FrontendAccountCreation.Web.ViewModels.ReExAccount.ReExPersonOrCompanyPartner>

<h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-4">
    @if (@ViewBag.TypeOfPartnerShip == "NonCompaniesHouse")
    {
        @Localizer["Partners within a partnership"]
    }
    else
    {
        @Localizer["_CheckYourDetailsPartnershipDetails.PartnersSectionTitle"]
    }
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-6">
    @foreach (var partner in Model)
    {
        string partnerNameLabel = partner.IsPerson ? "_CheckYourDetailsPartnershipDetails.FullName" : "_CheckYourDetailsPartnershipDetails.Company";

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                @Localizer[partnerNameLabel].Value
            </dt>
            <dd class="govuk-summary-list__value">
                @partner.Name
            </dd>
            <dd class="govuk-summary-list__actions">
                @if (@ViewBag.TypeOfPartnerShip == "NonCompaniesHouse")
                {
                <a class="govuk-link" href="@Url.Action(nameof(LimitedPartnershipController.NonCompaniesHousePartnershipNamesOfPartners), "LimitedPartnership")">
                    @SharedLocalizer["Change"]
                </a>
                }
                else
                {
                <a class="govuk-link" href="@Url.Action(nameof(ApprovedPersonController.TeamMemberDetails), "ApprovedPerson")">
                    @SharedLocalizer["Change"]
                </a>
                }
            </dd>
        </div>
    }
</dl>