@using FrontendAccountCreation.Web.ViewModels.ReExAccount
@using FrontendAccountCreation.Core.Sessions

@model ApprovedPersonViewModel

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
						<h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-3">
							@Localizer["_NonPartnershipApprovedPerson.Header"]
						</h1>
					</legend>
				</fieldset>

				<p class="govuk-body">
					@if (Model.ProducerType != null && Model.ProducerType == ProducerType.NonUkOrganisation && Model.IsApprovedUser)
					{
						// approvded person for a nonCompanyhouse non-UK organisation flow
						@Localizer["_NonPartnershipApprovedPerson.NonUkOrganisation.ApprovedPerson.Description"].Value
					}
					else
					{
						@Localizer["_NonPartnershipApprovedPerson.Description"].Value
					}
				</p>

				<p class="govuk-body">@Localizer["_NonPartnershipApprovedPerson.YouCanNow"].Value</p>

				<ul class="govuk-list govuk-list--bullet">
					<li>
						@Localizer["_NonPartnershipApprovedPerson.Continue"]
					<li>
						@Localizer["_NonPartnershipApprovedPerson.Invite"]
					</li>
				</ul>

				<form asp-controller="ApprovedPerson" asp-action="YouAreApprovedPerson" method="post">
					<div class="govuk-button-group">
						<button class="govuk-button" data-module="govuk-button" name="inviteApprovedPerson" value="false">
							@SharedLocalizer["Continue"]
						</button>

						@if (Model.ProducerType != null && Model.ProducerType == ProducerType.NonUkOrganisation
												&& Model.IsUkMainAddress != null && Model.IsUkMainAddress == false)
						{
							<button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="inviteApprovedPerson" asp-route-isUkMainAddress="@Model.IsUkMainAddress">
								@Localizer["_NonPartnershipApprovedPerson.InviteLink"]
							</button>
						}
						else
						{
							<button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="inviteApprovedPerson" value="true">
								@Localizer["_NonPartnershipApprovedPerson.InviteLink"]
							</button>
						}
					</div>
				</form>
			</div>
		</div>
	</main>
</div>